// footer
footer{
    
    .deco{
        background-image: url("../images/footer_bottom_decoration_img.png");
        background-repeat: repeat-x;
        z-index: 10;
        // padding-left: 0;    
    }
    .container-fluid{
        background-image: url("../images/footer_background.jpg");
        // position: relative;
        .c-insta{
            img{
                height: 75px;
                width: 75px;
                margin: 5px;
            }
        }
        .pilu{
            span{
                border: 1px solid white!important;
            }
        }
    }
    .bb-r{
        background-color: $color-red;
        height: 100px;
        width: 100%;
    }

        
}