// footer
footer{
    .container-fluid{
        background-image: url("../../../public/images/footer_background.jpg");
        position: relative;
        .deco{
            position: relative;
            top: 0;
            left: 0;
            padding-bottom: 20px;
            // padding-left: 0;    
        }
        .c-insta{
            img{
                height: 75px;
                width: 75px;
                margin: 5px;
            }
        }
        .pilu{
            span{
                border: 1px solid white!important;
            }
        }
    }
    .bb-r{
        background-color: $color-red;
        height: 100px;
        width: 100%;
    }

        
}