// header
.navbar {
    position: absolute;
    background: transparent !important;
    width: 100%;
    z-index: 10;
    
    .nav-link {
        color: white;
        font-weight: bold;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        @media screen and (max-width:600px) {
            background-color: black!important;
            text-align: center;
        }
        @media screen and (min-width:600px) and (max-width:1024px) {
            text-align: center;
            background-color: black!important;
        }

        &:hover {
            background-color: $color-red;
        }
    }
    .log-nav{
        @media screen and (max-width:600px) {
            display: none;
            
        }
    }
}

.text-banner {
    .container-fluid {
        position: absolute;
        z-index: 1;
        padding-top: 100px;
        top: 100px;
        width: 100%;
        background: transparent !important;
        @media screen and (max-width:600px) {
            padding: 0!important;
            
        }

        .col {
            h1 {
                font-family: "courgette";
                font-size: 5rem;
                margin: 0 150px 0;
                .span-color{
                    color: $color-red!important;
                }
            }

            @media screen and (max-width:600px) {
                    h1 {
                        // display: none;
                        font-size: 15px!important;
                        margin: 0!important;
                        // margin-right: 100px!important;
                        // margin-bottom: 200px!important;
                    }
                    a{
                        font-size: 10px;
                        span{
                            margin: 0!important;
                            padding: 10px!important;
                        }


                    }
            }
            @media screen and (min-width: 600px) and (max-width: 1024px) {
                h1 {
                    font-size: 30px!important;
                        margin: 0!important;
                }
                a{
                    // font-size: 10%!important;
                }
            }

        }

        color: white;

        .span-red {
            color: red;
        }
    }
}


.carousel {
    .carousel-indicators {
        button {
            border-radius: 50%;
            height: 20px;
            width: 20px;
        }
    }

    .carousel-item {
        &::before {
            content: "";
            display: black;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #000;
            opacity: 0.7;
        }
        .deco-b{
            background-image: url(../images/bottom_decoration_img.png);
        }
    }
}