// section 2
section{
    .our-team{
        background-image: linear-gradient(rgba(110, 100, 100, 0.001),rgba(0, 0, 0, 0.001)) , url("../images/team_background.jpg");
        .titre{
            font-family: "courgette";
            span{
                color: $color-red;
            }
        }
        .under-l{

            @media screen and (max-width:600px) {
                text-align: center;
                width: 50%;
                
            }
        }
    }
}