// section 3
.sc-3{
    background-image: url(../../../public/images/main_bg.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    .container{
        background-color: white;
        position: relative;
        .coin-gauche-haut{
            position: absolute;
            top: 0;
            left: 0;
        }
        .coin-droit-haut {
            position: absolute;
            right: 0;
            top: 0;
        }

        .coin-gauche-bas {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .coin-droit-bas {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .book-table{
        h2{
            font-family: "courgette";
            span{
                color: $color-red;
            }
        }
    }
    .form-book{
        background-image: url(../../../public/images/book_table_bg.jpg);
        width: 50%;
        border-radius: 3%;
        margin-left: 25%;
        
        .col-6{
            .form-select,input{
                width: 200px;
                height: 40px;
                margin-bottom: 10px;
                border: 1px solid white;
                border-radius: 10px;
            }
            .form-select{
                margin-left: 32px!important;
            
            }
        }
    }
    .container-img{
        .row{
            .col{
                img{
                    height: 200px;
                    width: 400px;
                    border-radius: 4%!important;
                    border: 5px solid lightgray;
                    position: relative;
                    span{
                        position: absolute;
                    
                    }

                }
            }
        }
    }
}