// section 4
.sc-4{
    .testimo{

        background-image: url("../../../public/images/testimonials_background.jpg") ;
        h2{
            font-family: "courgette";
            span{
                color: $color-red;
            }
        }
    }
}