// section 1
.sc-1{
    padding-top: 50px;
    padding-bottom: 50px;
    .container{
        background-color: white;
        position: relative;
        .coin-droit-haut{
            position: absolute;
            right: 0;
            top: 0;
        }
        .coin-gauche-bas{
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .coin-droit-bas{
            position:absolute;
            right: 0;
            bottom: 0;
        }
    }
}