// section 2
section{
    .our-team{
        background-image: linear-gradient(rgba(110, 100, 100, 0.001),rgba(0, 0, 0, 0.001)) , url(../../../public/images/team_background.jpg);
        span{
            color: $color-red;
        }
        .titre{
            font-family: "courgette";
        }
    }
}