// body{
//     font-family: "courgette";
// }

// header
@import "./header";

// main 
@import "./main";

// Section 1
@import "./section-1";

// section 2
@import "./section2";

// section 3
@import "./section-3";
